*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*------------------------------------------------------------------------------------------------*/
body, html {
   width: 100%;
   height: 100%;
}
.wrapper {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-image: url('./img/13110281_1702.m10.i304.n006.F.c06.274170314\ Healthy\ fruit\ hand\ drawn\ seamless\ vector\ texture.jpg');
   background-size: contain;
}
.button {
   padding: .5rem;
   width: 7rem;
   border: 2px solid #5eb11f;
   border-radius: 0.3rem;
   background-color: #fbff00;
   font-size: 1.3rem;
   margin-bottom: 1rem;
}
.button:hover {
   background-color: rgb(201, 143, 37);
   transition: all 0.3s ease;
}
#fruits {
   color: #00d424;
   font-size: 2rem;
   background: white;
}