*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	user-select: none;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------------------------------------------------------------------*/
html,body {
   background-color: rgb(66,153,225);
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 16px;
}
.wrapper {
   width: 100%;
   height: 100%;
}
.search-container {
   margin: 2rem auto;
   width: 21rem;
}
.search {
	width: 100%;
   border: 1px solid black;
	border-radius: .3rem;
	padding: 0.2rem;
}
.search__text, .search__selected {
	font-size: 14px;
	margin-top: 5px;
}
.search__selected {
	font-weight: 500;
	margin-left: 5px;
}
.weather__container {
   width: 21rem;
   max-height: 100%;
   margin: 2rem auto;
	border: 1px solid black;
}
.weather__loading {
	display: flex;
	justify-content: center;
	background-color: rgb(26,32,44);
	padding: 3rem 0 3rem 0;
}
.weather__current-day {
   display: flex;
   justify-content: space-around;
	align-items: center;
	max-height: 100%;
	padding: 2rem 1rem 2rem 1rem;
	background-color: rgb(26,32,44);
}
.current-day__temperature {
	padding-right: 1rem;
}
.temperature-main {
	color: white;
   font-weight: 500;
	font-size: 35px;
}
.feels-like-main {
	color: white;
	padding-top: 0.6rem;
}
.feels-like-main::first-letter {
	text-transform: uppercase;
}
.current-day__city {
	color: white;
}
.clouds-main::first-letter {
	text-transform: uppercase;
}
.city-main {
	color: white;
	padding-top: 0.3rem;
}
.current-day__img {
	width: 65px;
   height: 65px;
}
img {
	width: 40px;
	height: 40px;
}
.weather__for-week {
	margin-top: 2rem;
}
.weather__for-week-container {
	background-color: rgb(45,55,72);
	padding: 3rem 0 1rem 0;
}
.for-week__block {
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
}
.day {
	color: white;
}
.clouds {
	color: white;
}
.clouds::first-letter {
	text-transform: uppercase;
}
.temperature {
	color: white;
}
.feels-like {
	color: white;
	padding-top: .3rem;
}