*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*-----------------------------------------------------------------------------------------------------------------*/
.wrapper {
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: #c6c6c6;
   gap: 1rem;
}
.title {
   background-color: blueviolet;
   padding: 1rem;
   border-radius: .3rem;
   font-size: 2rem;
}
.color {
   color: blue;
}
#button {
   padding: .5rem;
   border: 2px solid black;
   border-radius: .3rem;
   background-color: transparent;
}
#button:hover {
   background-color: brown;
   transition: all 0.3s ease;
}