*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*------------------------------------------------------------------*/
@font-face {
	font-family: "Objective";
	font-style: normal;
	font-weight: 400;
	src: local("Objective"),
			url("./fonts/Objective-Regular.woff2") format("woff2"),
			url("./fonts/Objective-Regular.woff2") format("woff");
}
@font-face {
	font-family: "Objective-Bold";
	font-style: normal;
	font-weight: 700;
	src: local("Objective-Bold"),
			url("./fonts/Objective-Bold.woff2") format("woff2"),
			url("./fonts/Objective-Bold.woff2") format("woff");
}
html {
   background-color: rgba(255, 196, 0, 0.39);
}
.wrapper {
   width: 100%;
   height: 100%;
   font-family: "Objective";
	font-style: normal;
	font-weight: 400;
}
.title-container {
   margin: 5rem 0 2rem 0;
}
.title {
   text-align: center;
   text-transform: uppercase;
   font-family: "Objective-Bold";
	font-style: normal;
	font-weight: 700;
   font-size: 2.5rem;
   letter-spacing: .3rem;
}
.underline {
   width: 5rem;
   height: 5px;
   background-color: rgb(182, 88, 0);
   margin: 0.5rem auto;
}
.button-container {
   text-align: center;
}
.button {
   max-width: 100%;
   max-height: 100%;
   background-color: inherit;
   border: 0.2rem solid rgb(182, 88, 0);
   border-radius: 0.5rem;
   text-align: center;
   padding: 0.8rem;
   margin: 1rem 1.5rem 2.5rem 0;
   transition: background-color 0.3s ease;
}
.button:hover {
   background-color: rgb(252, 152, 38);
}
.menu-container {
   max-width: 80%;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
.menu {
   max-width: 45%;
   margin: 1rem 0;
}
.menu-item {
   display: flex;
   margin: 1rem 0;
   gap: 1rem;
}
.food-photo {
   width: 15rem;
   height: 10rem;
   border: 4px solid rgb(182, 88, 0);
   border-radius: .5rem;
   margin: 0 0.3rem 0 0;
}
.item-wrapp {
   display: flex;
   flex-direction: column;
}
.item-info {
   display: flex;
   justify-content: space-between;
   border-bottom: 2px solid #c6c6c6;
   margin: 0 0 1rem 0;
}
.item-title {
   font-style: normal;
	font-weight: 700;
   font-size: 1.5rem;
   letter-spacing: .3rem;
}
.price {
   font-size: 1.2rem;
   color: rgb(182, 88, 0);
}
.menu-text {
   margin: 0.3rem 0 0 0;
   
}