*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*------------------------------------------------------------------------*/
html, body {
	font-family: 'Roboto', sans-serif;
	background-color: #f1f5f8;
	user-select: none;
	overflow: hidden;
}
.wrapper {
   width: 100%;
   height: 100%;
}
.todo {
	margin: 150px auto;
   width: 30rem;
   min-height: 15rem;
   background-color: #ffffff;
	box-shadow: 0px 3px 10px 10px #cdcdcd;
}
.main-title {
	padding: 20px 0 10px 0;
   text-align: center;
	font-weight: 500;
	font-size: 20px;
}
.form-group {
	position: relative;
	margin-bottom: 1.5rem;
}
.input {
	border-radius: 4px;
	background-color: #d6dde2;
	padding: 5px 0;
	width: 85%;
	margin: 0 15px;
}
.button-submit {
	background-color: rgb(11, 172, 247);
	padding: 5px 8px;
	position: absolute;
	left: 360px;
	border-radius: 2px;
}
.button-submit:hover {
	background-color: rgb(9, 138, 197);
}
.list-item {
	display: flex;
   justify-content: space-between;
	user-select: none;
}
.task-title--done {
	color: grey;
	text-decoration: line-through;
}
.button-edit {
	opacity: .3;
}
.button-edit:hover {
	opacity: 1;
}
.items {
	margin: 0 1rem;
}
.img-edit {
	width: 2rem;
	height: 2rem;
	pointer-events: none;
}
.button-done {
	opacity: .3;
}
.button-done:hover {
	opacity: .9;
}
.button-trash {
	opacity: .3;
}
.button-trash:hover {
	opacity: .9;
}
.img-trash {
	width: 2rem;
	height: 2rem;
	pointer-events: none;
	
}
.text-wrapp {
	display: flex;
}
.button-done {
	background-color: inherit;
}
.img-done {
	width: 2rem;
   height: 2rem;
	pointer-events: none;
}
.no-task__img {
	width: 5rem;
	height: 5rem;
	display: block;
   margin: 20px auto;
}
.no-task__title {
	text-align: center;
}
.none {
	display: none;
}
.list-item.checked::before {
	content: '';
	position: absolute;
	border-color: #fff;
	border-style: solid;
	border-width: 0 2px 2px 0;
	top: 10px;
	left: 16px;
	transform: rotate(45deg);
	height: 15px;
	width: 7px;
}
#clear-tasks {
	color: red;
	background-color: inherit;
	display: inline-block;
	margin: 25px 176px;
}
#text {
	cursor: pointer;
	margin: auto 0;
}
.edit-input {
	font-size: 1rem;
	padding: 0 0 2px 0;
	pointer-events: none;
}
